@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100vh;
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: #000;
}